body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.nav-aa {
  width: 100%;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 1000;
  //position: absolute;
  position: fixed;

  .nav-wrapper {
    margin: 0 auto;
    width: 980px;

    .nav-brand {
      float: left;
      width: 60px;
      height: 60px;
      margin: 10px 10px 10px 0px;
      background-image: url("../images/logo.svg");
      //background-color: #000088;
    }

    .nav-tab {
      float: right;
      ul {
        li {
          display: inline-block;
          margin: 0 20px;
          line-height: 80px;
          font-size: 16px;
          a {
            color: #fff;
            transition: color .35s ease;
            &:hover {
              color: #10376D;
              cursor: pointer;
              //text-decoration: none;
            }
            .active{
              color: #10376D;
            }
          }
        }
      }
    }
  }

}

.content {
  position: relative;
  //min-height: 768px;
  //height: 100%;
  width: 100%;
  //background: url("../images/1.jpeg") no-repeat;
  //background-size: cover;

  .content-wrapper {
    position: relative;
    .slider {
      width: 100%;
      height: 768px;
      display: none;
      &.active {
        display: block;
      }
      .description{
        position: absolute;
        text-align: center;
        top: 30%;
        width: 100%;
        margin: 0 auto;


      }
    }

    .slider-dot {
      position: absolute;
      bottom: 40px;
      left: 0;
      width: 100%;
      text-align: center;
      z-index: 100;
      ul {
        li {
          border: solid 1px #fff;
          border-radius: 10px;
          width: 10px;
          height: 10px;
          display: inline-block;
          margin: 10px;
          &.active {
            background-color: #fff;
          }
          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .scene {
      position: relative;
      width: 100%;
      height: 768px;
      background-repeat: no-repeat;
      background-size: cover;
      background-size: cover;
      .scene-content {
        position: absolute;
        top: 30%;
        text-align: center;
        width: 100%;
        .animate {
          width: 300px;
          height: 200px;
          margin: 0 auto;

          //opacity: 1;
        }
        .title {
          text-shadow: 1px 1px 2px #333;
          width: 100%;
          color: #fff;
          font-size: 24px;
        }
        .subtitle {
          text-shadow: 1px 1px 2px #333;
          width: 100%;
          color: #fff;
          font-size: 24px;
        }
      }
    }
  }
  .chart-panel {
    position: fixed;
    display: none;
    top: 45%;
    left: 0;
    right: 0;

    margin: 0 auto;
    width: 700px;
    height: 280px;
    z-index: 100;

    .point {
      position: absolute;
      height: 20px;
      width: 20px;
      border: solid 2px #fff;
      border-radius: 20px;
      background-color: rgba(45,136,0,0.8);
      z-index: 300;
      &#point1 {
        left: 80px;
        bottom: 60px;
      }
      &#point2 {
        left: 210px;
        bottom: 140px;
      }
      &#point3 {
        left: 390px;
        bottom: 65px;
        background-color: rgba(217,0,0,.7);
      }
      &#point4 {
        left: 640px;
        bottom: 230px;
      }
    }

    .line {
      position: absolute;
      width: 1px;
      bottom: 0;
      background-color: #fff;
      z-index: 200;
      &#line1 {
        left: 92px;
        height: 70px;
      }
      &#line2 {
        left: 221px;
        height: 145px;
      }
      &#line3 {
        left: 401px;
        height: 75px;
      }
      &#line4 {
        left: 651px;
        height: 240px;
      }
    }

    .progress {
      width: 700px;
      height: 280px;
      background: url('../images/curve.png') no-repeat;
    }
  }
}

.footer {
  position: relative;
  width: 100%;
  height: 260px;
  background-color: #3c3e41;
}


